* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /*merged body and p declarations into 1 block*/
  background-color: #d9dcd6;
  font-size: 16px;
}

body > header {
  /* adds blue color to header */
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

body > header > h1 {
  display: inline-block;
  font-size: 48px;
}

body > header > h1 .seo {
  color: #d9dcd6;
}

body > header > nav {
  /* Floated Nav bar to the right. removed li bullets*/
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

body > figure > img {
  /*Resizes and positions the HERO banner under nav*/
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

body > main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.company-services h2 {
  /*consolidated 3 separte declarations into a single block using classes*/
  margin-bottom: 20px;
  font-size: 36px;
}

aside {
  /*replaced the selector for element */
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefits {
  /*consolidated 3 separte declarations into a single block using classes*/
  margin-bottom: 32px;
  color: #ffffff;
}

.benefits > h3 {
  /*consolidated 3 separte declarations into a single block using classes*/
  margin-bottom: 10px;
  text-align: center;
}

.benefits > img {
  /*consolidated 3 separte declarations into a single block using classes*/
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.company-services {
  /*Consolidated into a single class declaration to apply to all services*/
  /*changed the selector to match ID label*/
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

section.company-services > img {
  /* consolidated  declaration to a single tag instead of 3 */
  max-height: 200px;
}

footer {
  /* Fixed the selector for the footer tag*/
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer > h2 {
  /*Fixed the selector*/
  font-size: 20px;
}
